@{title('Dashboard')}

@{head("../../assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.css")}

@{section breadcrumb}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
</ol>
@{end}
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table id="setting_table" class="table table-striped table-bordered">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@{if model.setting}
<!-- ============================================================== -->
<!-- Sales Cards  -->
<!-- ============================================================== -->
<div class="row">
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
            <div class="box bg-cyan text-center">
                <h1 class="font-light text-white"><i class="mdi mdi-view-dashboard"></i></h1>
                <h6 class="text-white">@{model.setting && model.setting.market.toUpperCase()}</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-4 col-xlg-3">
        <div class="card card-hover">
            <div class="box bg-success text-center">
                <h1 class="font-light text-white"><i class="mdi mdi-chart-areaspline"></i></h1>
                <h6 class="text-white">利润：@{model.profit}</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
            <div class="box bg-warning text-center">
                <h1 class="font-light text-white"><i class="mdi mdi-collage"></i></h1>
                <h6 class="text-white">费用：@{model.fee}</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
            <div class="box bg-danger text-center">
                <h1 class="font-light text-white"><i class="mdi mdi-border-outside"></i></h1>
                <h6 class="text-white">Tables</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
            <div class="box bg-info text-center">
                <h1 class="font-light text-white"><i class="mdi mdi-arrow-all"></i></h1>
                <h6 class="text-white">Full Width</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
<!--    <div class="col-md-6 col-lg-4 col-xlg-3">-->
<!--        <div class="card card-hover">-->
<!--            <div class="box bg-danger text-center">-->
<!--                <h1 class="font-light text-white"><i class="mdi mdi-receipt"></i></h1>-->
<!--                <h6 class="text-white">Forms</h6>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; Column &ndash;&gt;-->
<!--    <div class="col-md-6 col-lg-2 col-xlg-3">-->
<!--        <div class="card card-hover">-->
<!--            <div class="box bg-info text-center">-->
<!--                <h1 class="font-light text-white"><i class="mdi mdi-relative-scale"></i></h1>-->
<!--                <h6 class="text-white">Buttons</h6>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; Column &ndash;&gt;-->
<!--    <div class="col-md-6 col-lg-2 col-xlg-3">-->
<!--        <div class="card card-hover">-->
<!--            <div class="box bg-cyan text-center">-->
<!--                <h1 class="font-light text-white"><i class="mdi mdi-pencil"></i></h1>-->
<!--                <h6 class="text-white">Elements</h6>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; Column &ndash;&gt;-->
<!--    <div class="col-md-6 col-lg-2 col-xlg-3">-->
<!--        <div class="card card-hover">-->
<!--            <div class="box bg-success text-center">-->
<!--                <h1 class="font-light text-white"><i class="mdi mdi-calendar-check"></i></h1>-->
<!--                <h6 class="text-white">Calnedar</h6>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; Column &ndash;&gt;-->
<!--    <div class="col-md-6 col-lg-2 col-xlg-3">-->
<!--        <div class="card card-hover">-->
<!--            <div class="box bg-warning text-center">-->
<!--                <h1 class="font-light text-white"><i class="mdi mdi-alert"></i></h1>-->
<!--                <h6 class="text-white">Errors</h6>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; Column &ndash;&gt; -->
</div>
@{fi}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-3">
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title">对冲交易成功率</h4>
                                <h5 class="card-subtitle" id="hedge-success-ratio"></h5>
                            </div>
                        </div>
                        <div class="flot-chart">
                            <div id="hedge-success-legend" class="chart-legend"></div>
                            <canvas class="flot-chart-content" id="hedge-success-chart" width="400" height="400"></canvas>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title">对冲交易时长</h4>
                                <h5 class="card-subtitle">开始到结束的时间</h5>
                            </div>
                        </div>
                        <div class="flot-chart">
                            <div id="hedge-life-legend" class="chart-legend"></div>
                            <canvas class="flot-chart-content" id="hedge-life-chart" width="400" height="400"></canvas>
                        </div>
                    </div>
                    <!-- column -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-12">
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title">对冲交易纯利/毛利/费用</h4>
                                <h5 class="card-subtitle">成功的交易纯利/毛利/费用累计</h5>
                            </div>
                        </div>
                        <div class="flot-chart">
                            <div id="hedge-profit-legend" class="chart-legend"></div>
                            <canvas class="flot-chart-content" id="hedge-profit-chart" width="400" height="400"></canvas>
                        </div>
                    </div>
                    <!-- column -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-12">
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title">账户趋势</h4>
                                <h5 class="card-subtitle">
                                    <button class="btn mr-1" onclick="getAccountStatisticsData(0)" id="account-statistics-currency-0">净值</button>
                                    <button class="btn mr-1" onclick="getAccountStatisticsData(1)" id="account-statistics-currency-1">和值</button>
                                    <button class="btn mr-1" onclick="getAccountStatisticsData(2)" id="account-statistics-currency-2">货币1</button>
                                    <button class="btn mr-1" onclick="getAccountStatisticsData(3)" id="account-statistics-currency-3">货币2</button>
                                    <button class="btn mr-1" onclick="getAccountStatisticsData(4)" id="account-statistics-currency-4">市场1</button>
                                    <button class="btn" onclick="getAccountStatisticsData(5)" id="account-statistics-currency-5">市场2</button>
                                </h5>
                            </div>
                        </div>
                        <div class="flot-chart">
                            <div id="account-statistics-legend" class="chart-legend"></div>
                            <canvas class="flot-chart-content" id="account-statistics-chart" width="400" height="400"></canvas>
                        </div>
                    </div>
                    <!-- column -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-12">
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title">对冲交易方向趋势</h4>
                                <h5 class="card-subtitle">&nbsp;</h5>
                            </div>
                        </div>
                        <div class="flot-chart">
                            <div id="order-side-legend" class="chart-legend"></div>
                            <canvas class="flot-chart-content" id="order-side-chart" width="400" height="400"></canvas>
                        </div>
                    </div>
                    <!-- column -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- Recent comment and chats -->
<!-- ============================================================== -->
@{section script}
<script src="../../dist/js/chart.js"></script>
<script src="../../assets/extra-libs/DataTables/datatables.min.js"></script>

<script type="application/javascript">
    const id = "@{model.setting && model.setting.id || ''}";
    const successCtx = document.getElementById("hedge-success-chart").getContext("2d");
    const lifeCtx = document.getElementById("hedge-life-chart").getContext("2d");
    const profitCtx = document.getElementById("hedge-profit-chart").getContext("2d");
    const accountStatisticsCtx = document.getElementById("account-statistics-chart").getContext("2d");
    const orderSideCtx = document.getElementById("order-side-chart").getContext("2d");
    let accountStatistics = null;
    let orderSide = null;
    function getAccountStatisticsData(type) {
        $('#account-statistics-currency-0').removeClass('btn-info');
        $('#account-statistics-currency-1').removeClass('btn-info');
        $('#account-statistics-currency-2').removeClass('btn-info');
        $('#account-statistics-currency-3').removeClass('btn-info');
        $('#account-statistics-currency-4').removeClass('btn-info');
        $('#account-statistics-currency-5').removeClass('btn-info');
        $('#account-statistics-currency-'+type).addClass('btn-info');
        $.ajax({
            url: "/dashboard-account-statistics-chart",
            type: "GET",
            data: { type, id },
            dataType: 'json',
            success: function(res){
                if(res.code === 200){
                    if(!accountStatistics){
                        accountStatistics = new Chart(accountStatisticsCtx).Line({
                            labels: res.data.labels,
                            datasets: [
                                {
                                    label: res.data.label_a,
                                    fillColor: "rgba(27,205,0,0.2)",
                                    strokeColor: "rgb(130,205,62)",
                                    pointColor: "rgb(27,205,0)",
                                    pointStrokeColor: "#fff",
                                    pointHighlightFill: "#fff",
                                    pointHighlightStroke: "rgb(27,205,0)",
                                    data: res.data.amount_a
                                },
                                {
                                    label: res.data.label_b,
                                    fillColor: "rgba(151,187,205,0.2)",
                                    strokeColor: "rgba(151,187,205,1)",
                                    pointColor: "rgba(151,187,205,1)",
                                    pointStrokeColor: "#fff",
                                    pointHighlightFill: "#fff",
                                    pointHighlightStroke: "rgba(151,187,205,1)",
                                    data: res.data.amount_b
                                }
                            ]
                        }, {});
                    }else{
                        for(let i=0; i< res.data.labels.length; i++){
                            accountStatistics.datasets[0].points[i] && (accountStatistics.datasets[0].points[i].value = res.data.amount_a[i]);
                            accountStatistics.datasets[1].points[i] && (accountStatistics.datasets[1].points[i].value = res.data.amount_b[i]);
                        }
                        accountStatistics.datasets[0].label = res.data.label_a;
                        accountStatistics.datasets[1].label = res.data.label_b;

                        accountStatistics.update();
                    }

                    document.getElementById('account-statistics-legend').innerHTML = accountStatistics.generateLegend();
                    $('#account-statistics-currency-2').html(res.data.currency_a);
                    $('#account-statistics-currency-3').html(res.data.currency_b);
                    $('#account-statistics-currency-4').html(res.data.marketplace_a);
                    $('#account-statistics-currency-5').html(res.data.marketplace_b);
                }else{
                    alert('获取数据失败');
                }
            }
        });
    }

    function refreshOrderSide(type) {
        $.ajax({
            url: "/dashboard-order-side-chart",
            type: "GET",
            data: { type, id },
            dataType: 'json',
            success: function(res){
                if(res.code === 200){
                    if(!orderSide){
                        orderSide = new Chart(orderSideCtx).Line({
                            labels: res.data.labels,
                            datasets: [
                                {
                                    label: res.data.marketplace_a,
                                    fillColor: "rgba(27,205,0,0.2)",
                                    strokeColor: "rgb(130,205,62)",
                                    pointColor: "rgb(27,205,0)",
                                    pointStrokeColor: "#fff",
                                    pointHighlightFill: "#fff",
                                    pointHighlightStroke: "rgb(27,205,0)",
                                    data: res.data.side_a
                                },
                                {
                                    label: res.data.marketplace_b,
                                    fillColor: "rgba(151,187,205,0.2)",
                                    strokeColor: "rgba(151,187,205,1)",
                                    pointColor: "rgba(151,187,205,1)",
                                    pointStrokeColor: "#fff",
                                    pointHighlightFill: "#fff",
                                    pointHighlightStroke: "rgba(151,187,205,1)",
                                    data: res.data.side_b
                                }
                            ]
                        }, {});
                    }else{
                        for(let i=0; i< res.data.labels.length; i++){
                            orderSide.datasets[0].points[i] && (orderSide.datasets[0].points[i].value = res.data.side_a[i]);
                            orderSide.datasets[1].points[i] && (orderSide.datasets[1].points[i].value = res.data.side_b[i]);
                        }
                        orderSide.datasets[0].label = res.data.marketplace_a;
                        orderSide.datasets[1].label = res.data.marketplace_b;

                        orderSide.update();
                    }

                    document.getElementById('order-side-legend').innerHTML = orderSide.generateLegend();
                }else{
                    alert('获取数据失败');
                }
            }
        });
    }

    function loadSettingTable() {
        const settingTable = $('#setting_table').DataTable({
            "searching": false,
            // 是否允许排序
            "ordering": true,
            "order": [[0,'asc']],
            "info": true,
            // 是否允许翻页，设成false，翻页按钮不显示
            "paging": true,
            "lengthChange": false,
            "pageLength": 50,
            "pagingType": "numbers",
            "autoWidth": true,
            // 是否表示 "processing" 加载中的信息，这个信息可以修改
            "processing": true,
            // 每次创建是否销毁以前的DataTable,默认false
            "destroy": false,
            "serverSide": true,
            "ajax": {
                // url可以直接指定远程的json文件，或是MVC的请求地址 /Controller/Action
                url: "/dashboard/settings",
                type: 'POST',
                // 传给服务器的数据，可以添加我们自己的查询参数
                data: function (param) {
                    param.order.forEach(item=>{
                        item.column = param.columns[item.column].data;
                    });
                    delete param.columns;

                    return param;
                },
                dataFilter: function(data){
                    var json = jQuery.parseJSON( data );
                    json.recordsTotal = json.total;
                    json.recordsFiltered = json.total;
                    // json.data = json.data;
                    return JSON.stringify( json ); // return JSON string
                }
            },
            dataSrc: function (myJson) {
                return myJson;
            },
            columns: [
                { title: 'ID', data: 'id', cellType: 'th' },
                { title: '货币对', data: 'market' },
                { title: '交易所A', data: 'marketplace_a', orderable: false },
                { title: '交易所B', data: 'marketplace_b', orderable: false },
                { title: '总交易量', data: 'total' },
                { title: '成功率', data: 'success_ratio' },
                { title: '利润', data: 'profit' },
                { title: '状态', data: 'enabled' },
                {
                    title: '交易方向',
                    data: null,
                    orderable: false,
                    render: function(data, type, row, meta) {
                        if (type === 'display') {
                            return row.marketplace_a + ':' + row.side_a + ' ' + row.marketplace_b + ':' + row.side_b;
                        }

                        return data;
                    }
                },
                {
                    title: '操作',
                    data: null,
                    orderable: false,
                    render: function(data, type, row, meta) {
                        if (type === 'display') {
                            return '<a class="btn btn-info mr-1" href="/dashboard/' + row.id + '/">详情</a>';
                        }

                        return data;
                    }
                }
            ]
        });
    }
    $(function () {
        loadSettingTable();

        getAccountStatisticsData(0);

        refreshOrderSide();

        $.ajax({
            url: "/dashboard-hedge-success-chart",
            type: "GET",
            data: { id },
            dataType: 'json',
            success: function(res){
                if(res.code === 200){
                    const data = [
                        {
                            value: res.data.success,
                            color: "#46BFBD",
                            highlight: "#5AD3D1",
                            label: "成功"
                        },
                        {
                            value: res.data.total - res.data.success,
                            color:"#F7464A",
                            highlight: "#FF5A5E",
                            label: "失败"
                        }
                    ];
                    $('#hedge-success-ratio').html(((res.data.success/res.data.total) * 100).toFixed(2)  + ' %');
                    const chart = new Chart(successCtx).Pie(data, {});
                    document.getElementById('hedge-success-legend').innerHTML = chart.generateLegend();
                }else{
                    alert('保存失败');
                }
            }
        });
        //
        $.ajax({
            url: "/dashboard-hedge-life-chart",
            type: "GET",
            data: { id },
            dataType: 'json',
            success: function(res){
                if(res.code === 200){
                    const data = {
                        labels: res.data.labels,
                        datasets: [
                            {
                                label: "交易时长",
                                fillColor: "rgba(151,187,205,0.2)",
                                strokeColor: "rgba(151,187,205,1)",
                                pointColor: "rgba(151,187,205,1)",
                                pointStrokeColor: "#fff",
                                pointHighlightFill: "#fff",
                                pointHighlightStroke: "rgba(151,187,205,1)",
                                data: res.data.longSets
                            }
                        ]
                    };

                    const chart = new Chart(lifeCtx).Line(data, {});
                    document.getElementById('hedge-life-legend').innerHTML = chart.generateLegend();
                }else{
                    alert('获取数据失败');
                }
            }
        });
        //
        $.ajax({
            url: "/dashboard-hedge-profit-chart",
            type: "GET",
            data: { id },
            dataType: 'json',
            success: function(res){
                if(res.code === 200){
                    const data = {
                        labels: res.data.labels,
                        datasets: [
                            {
                                label: "毛利",
                                fillColor: "rgba(151,187,205,0.2)",
                                strokeColor: "rgba(151,187,205,1)",
                                pointColor: "rgba(151,187,205,1)",
                                pointStrokeColor: "#fff",
                                pointHighlightFill: "#fff",
                                pointHighlightStroke: "rgba(151,187,205,1)",
                                data: res.data.profitSets
                            },
                            {
                                label: "纯利",
                                fillColor: "rgba(27,205,0,0.2)",
                                strokeColor: "rgb(130,205,62)",
                                pointColor: "rgb(27,205,0)",
                                pointStrokeColor: "#fff",
                                pointHighlightFill: "#fff",
                                pointHighlightStroke: "rgb(27,205,0)",
                                data: res.data.pureProfitSets
                            },
                            {
                                label: "费用",
                                fillColor: "rgba(233,13,4,0.3)",
                                strokeColor: "rgb(205,35,3)",
                                pointColor: "rgb(205,35,3)",
                                pointStrokeColor: "#fff",
                                pointHighlightFill: "#fff",
                                pointHighlightStroke: "rgb(205,35,3)",
                                data: res.data.feeSets
                            }
                        ]
                    };

                    const hedgeProfitChart = new Chart(profitCtx).Line(data, {});
                    document.getElementById('hedge-profit-legend').innerHTML = hedgeProfitChart.generateLegend();
                }else{
                    alert('获取数据失败');
                }
            }
        });
    });
</script>
@{end}