@{title('Dashboard')}

@{section breadcrumb}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
</ol>
@{end}

<!-- ============================================================== -->
<!-- Sales Cards  -->
<!-- ============================================================== -->
<div class="row">
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
            <div class="box bg-cyan text-center">
                <h1 class="font-light text-white"><i class="mdi mdi-view-dashboard"></i></h1>
                <h6 class="text-white">Dashboard</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-4 col-xlg-3">
        <div class="card card-hover">
            <div class="box bg-success text-center">
                <h1 class="font-light text-white"><i class="mdi mdi-chart-areaspline"></i></h1>
                <h6 class="text-white">Charts</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
            <div class="box bg-warning text-center">
                <h1 class="font-light text-white"><i class="mdi mdi-collage"></i></h1>
                <h6 class="text-white">Widgets</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
            <div class="box bg-danger text-center">
                <h1 class="font-light text-white"><i class="mdi mdi-border-outside"></i></h1>
                <h6 class="text-white">Tables</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
            <div class="box bg-info text-center">
                <h1 class="font-light text-white"><i class="mdi mdi-arrow-all"></i></h1>
                <h6 class="text-white">Full Width</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-md-6 col-lg-4 col-xlg-3">
        <div class="card card-hover">
            <div class="box bg-danger text-center">
                <h1 class="font-light text-white"><i class="mdi mdi-receipt"></i></h1>
                <h6 class="text-white">Forms</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
            <div class="box bg-info text-center">
                <h1 class="font-light text-white"><i class="mdi mdi-relative-scale"></i></h1>
                <h6 class="text-white">Buttons</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
            <div class="box bg-cyan text-center">
                <h1 class="font-light text-white"><i class="mdi mdi-pencil"></i></h1>
                <h6 class="text-white">Elements</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
            <div class="box bg-success text-center">
                <h1 class="font-light text-white"><i class="mdi mdi-calendar-check"></i></h1>
                <h6 class="text-white">Calnedar</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
        <div class="card card-hover">
            <div class="box bg-warning text-center">
                <h1 class="font-light text-white"><i class="mdi mdi-alert"></i></h1>
                <h6 class="text-white">Errors</h6>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
<!-- ============================================================== -->
<!-- Sales chart -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-3">
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title">对冲交易成功率</h4>
                                <h5 class="card-subtitle" id="hedge-success-ratio"></h5>
                            </div>
                        </div>
                        <div class="flot-chart">
                            <canvas class="flot-chart-content" id="hedge-success-chart" width="400" height="400"></canvas>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title">对冲交易时长</h4>
                                <h5 class="card-subtitle">开始到结束的时间</h5>
                            </div>
                        </div>
                        <div class="flot-chart">
                            <canvas class="flot-chart-content" id="hedge-profit-chart" width="400" height="400"></canvas>
                        </div>
                    </div>
                    <!-- column -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <!-- column -->
                    <div class="col-lg-12">
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title">账户趋势</h4>
                                <h5 class="card-subtitle">
                                    <button class="btn btn-info mr-1" onclick="getAccountStatisticsData(0)">净值</button>
                                    <button class="btn btn-success mr-1" onclick="getAccountStatisticsData(1)" id="account-statistics-currency-1">货币1</button>
                                    <button class="btn btn-info mr-1" onclick="getAccountStatisticsData(2)" id="account-statistics-currency-2">货币2</button>
                                    <button class="btn btn-info mr-1" onclick="getAccountStatisticsData(3)" id="account-statistics-currency-3">市场1</button>
                                    <button class="btn btn-info" onclick="getAccountStatisticsData(4)" id="account-statistics-currency-4">市场2</button>
                                </h5>
                            </div>
                        </div>
                        <div class="flot-chart">
                            <canvas class="flot-chart-content" id="account-statistics-chart" width="400" height="400"></canvas>
                        </div>
                    </div>
                    <!-- column -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Recent comment and chats -->
<!-- ============================================================== -->
@{section script}
<script src="../../dist/js/chart.js"></script>

<script type="application/javascript">
    const successCtx = document.getElementById("hedge-success-chart").getContext("2d");
    const profitCtx = document.getElementById("hedge-profit-chart").getContext("2d");
    const accountStatisticsCtx = document.getElementById("account-statistics-chart").getContext("2d");
    let accountStatistics = null;
    function getAccountStatisticsData(type) {
        $.ajax({
            url: "/dashboard-account-statistics-chart",
            type: "GET",
            data: { type },
            dataType: 'json',
            success: function(res){
                if(res.code === 200){
                    if(!accountStatistics){
                        accountStatistics = new Chart(accountStatisticsCtx).Line({
                            labels: res.data.labels,
                            datasets: [
                                {
                                    label: res.data.currency,
                                    fillColor: "rgba(27,205,0,0.2)",
                                    strokeColor: "rgb(130,205,62)",
                                    pointColor: "rgb(27,205,0)",
                                    pointStrokeColor: "#fff",
                                    pointHighlightFill: "#fff",
                                    pointHighlightStroke: "rgb(27,205,0)",
                                    data: res.data.amount_a
                                },
                                {
                                    label: res.data.currency,
                                    fillColor: "rgba(151,187,205,0.2)",
                                    strokeColor: "rgba(151,187,205,1)",
                                    pointColor: "rgba(151,187,205,1)",
                                    pointStrokeColor: "#fff",
                                    pointHighlightFill: "#fff",
                                    pointHighlightStroke: "rgba(151,187,205,1)",
                                    data: res.data.amount_b
                                }
                            ]
                        }, {});
                    }else{
                        for(let i=0; i< res.data.labels.length; i++){
                            accountStatistics.datasets[0].points[i].value = res.data.amount_a[i];
                            accountStatistics.datasets[1].points[i].value = res.data.amount_b[i];
                        }
                        accountStatistics.datasets[0].label = res.data.currency;
                        accountStatistics.datasets[1].label = res.data.currency;

                        accountStatistics.update();
                    }
                    $('#account-statistics-currency-1').html(res.data.currency_a);
                    $('#account-statistics-currency-2').html(res.data.currency_b);
                    $('#account-statistics-currency-3').html(res.data.marketplace_a);
                    $('#account-statistics-currency-4').html(res.data.marketplace_b);
                }else{
                    alert('保存失败');
                }
            }
        });
    }

    $(function () {
        getAccountStatisticsData(0);

        $.ajax({
            url: "/dashboard-hedge-success-chart",
            type: "GET",
            dataType: 'json',
            success: function(res){
                if(res.code === 200){
                    const data = [
                        {
                            value: res.data.total - res.data.success,
                            color:"#F7464A",
                            highlight: "#FF5A5E",
                            label: "Red"
                        },
                        {
                            value: res.data.success,
                            color: "#46BFBD",
                            highlight: "#5AD3D1",
                            label: "Green"
                        }
                    ];
                    $('#hedge-success-ratio').html(((res.data.success/res.data.total) * 100).toFixed(2)  + ' %');
                    new Chart(successCtx).Pie(data, {});
                }else{
                    alert('保存失败');
                }
            }
        });
        //
        $.ajax({
            url: "/dashboard-hedge-profit-chart",
            type: "GET",
            data: {},
            dataType: 'json',
            success: function(res){
                if(res.code === 200){
                    const data = {
                        labels: res.data.labels,
                        datasets: [
                            {
                                label: "交易时长",
                                fillColor: "rgba(151,187,205,0.2)",
                                strokeColor: "rgba(151,187,205,1)",
                                pointColor: "rgba(151,187,205,1)",
                                pointStrokeColor: "#fff",
                                pointHighlightFill: "#fff",
                                pointHighlightStroke: "rgba(151,187,205,1)",
                                data: res.data.longSets
                            }
                        ]
                    };

                    new Chart(profitCtx).Line(data, {});
                }else{
                    alert('保存失败');
                }
            }
        });
    });
</script>
@{end}